body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #0e0f11;
    color: #ffffff;
  }
  
  h1 { 
    font-size: 48px;
    font-family: "Montserrat", sans-serif;
    font-weight: 200;
    text-align: center;
    line-height: 59px;
    padding: 0 86px;
    cursor: pointer;
  }

  .stopwatch {
    display: flex;
    width: 50%;
    padding-top: 100px;
    height: 190px;
    

  }
  #stopWatch:hover{
    color: #999;
    opacity: 0.5;
    text-shadow: 2px 2px #999;
  }

  #timer{
    display: flex;
    margin-left: 50%;
  }
  #timer:hover{
    color: #999;
    opacity: 0.5;
    text-shadow: 2px 2px #999;
  }
  
  .section{
    display: flex;
    
     width: 100%;
     flex-direction: column;
     align-items: center;
  }
  .circle {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 270px;
    width: 270px;
    border: 2px solid;
    border-radius: 50%;
  }
  
  .time {
    font-family: "Roboto Mono", monospace;
    font-weight: 300;
    font-size: 48px;
  }
  

  
  .controls {
    display: flex;
    justify-content: space-between;
    width: 187px;
    align-items: flex-end;
    margin-top: 30px;

  }
  
  button {
    cursor: pointer;
    background: transparent;
    padding: 0;
    border: none;
    margin: 0;
    outline: none;
  }

  
  #playButton {
    display: block;
  }
  
  #pauseButton {
    display: none;
  }
  .buttonReset{
    margin-bottom: -3px;
  }
  .inpTimer{
    color: #fff;
    background-color: #0e0f11;
    border: 1px solid;
    border-radius: 50%;
    width: 63px;
    height: 63px;
    font-size: 30px;
    text-align: center;
    margin-bottom: -3px;
}
